In [1]:
# import dependecies 

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [2]:
# read vaccinations csv

csv_file = "Resources/vaccinations.csv"
vaccinations_df = pd.read_csv(csv_file)
vaccinations_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0

In [3]:
# set columns for first table

vaccination_rate_df = vaccinations_df[['location', 'iso_code', 'date', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'daily_vaccinations' ]].copy()
vaccination_rate_df.head()

,location,iso_code,date,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations
0,Afghanistan,AFG,2021-02-22,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,1367.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,1367.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,1367.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,1367.0

In [4]:
# set columns for second table

vaccination_daily_df = vaccinations_df[['location', 'iso_code', 'date', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'daily_vaccinations_per_million' ]].copy()
vaccination_daily_df.head()

,location,iso_code,date,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,34.0

In [16]:
# group by country for third table 

# vaccination_country_df = vaccinations_df.groupby
# vaccination_country_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43247,Zimbabwe,ZWE,2021-02-18,39.0,39.0,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN
43248,Zimbabwe,ZWE,2021-02-19,NaN,NaN,NaN,NaN,NaN,425.0,NaN,NaN,NaN,NaN,28.0
43249,Zimbabwe,ZWE,2021-02-20,NaN,NaN,NaN,NaN,NaN,425.0,NaN,NaN,NaN,NaN,28.0
43250,Zimbabwe,ZWE,2021-02-21,1314.0,1314.0,NaN,NaN,NaN,425.0,0.01,0.01,NaN,NaN,28.0
43251,Zimbabwe,ZWE,2021-02-22,NaN,NaN,NaN,NaN,NaN,660.0,NaN,NaN,NaN,NaN,44.0

In [ ]:
# group by country for forth table region_data_metadata

# vaccination_country_df = vaccinations_df.groupby
# vaccination_country_df.head()

## Region Date Metadata

In [6]:
# read region_date_metadata.csv

path = "Resources/region_date_metadata.csv"
region_date_df = pd.read_csv(path)
region_date_df.head()

  Province_State Country_Region        Date  Recoveries
0            NaN    Afghanistan  2020-01-22           0
1            NaN        Albania  2020-01-22           0
2            NaN        Algeria  2020-01-22           0
3            NaN        Andorra  2020-01-22           0
4            NaN         Angola  2020-01-22           0

In [7]:
#Set column for 4th table
region_date_metadata = region_date_df[['Country_Region', 'Province_State', 'Date', 'Recoveries']].copy()
region_date_metadata.head()

  Country_Region Province_State        Date  Recoveries
0    Afghanistan            NaN  2020-01-22           0
1        Albania            NaN  2020-01-22           0
2        Algeria            NaN  2020-01-22           0
3        Andorra            NaN  2020-01-22           0
4         Angola            NaN  2020-01-22           0

In [12]:
#Groupby the data  as per Country_region and Date
region_date_metadata_groupby = region_date_metadata.groupby(['Country_Region', 'Date']).sum()['Recoveries']
region_date_metadata_groupby = pd.DataFrame(region_date_metadata_groupby)
region_date_metadata_groupby

                           Recoveries
Country_Region Date
Afghanistan    2020-01-22           0
               2020-01-23           0
               2020-01-24           0
               2020-01-25           0
               2020-01-26           0
...                               ...
Zimbabwe       2020-05-06           5
               2020-05-07           5
               2020-05-08           9
               2020-05-09           9
               2020-05-10           9

[20570 rows x 1 columns]

In [15]:
#Removing index columns
region_date_metadata_df = region_date_metadata_groupby.reset_index(['Country_Region', 'Date'])
region_date_metadata_df

      Country_Region        Date  Recoveries
0        Afghanistan  2020-01-22           0
1        Afghanistan  2020-01-23           0
2        Afghanistan  2020-01-24           0
3        Afghanistan  2020-01-25           0
4        Afghanistan  2020-01-26           0
...              ...         ...         ...
20565       Zimbabwe  2020-05-06           5
20566       Zimbabwe  2020-05-07           5
20567       Zimbabwe  2020-05-08           9
20568       Zimbabwe  2020-05-09           9
20569       Zimbabwe  2020-05-10           9

[20570 rows x 3 columns]

In [ ]:
# connect to SQL database 

protocol = 'postgresql'
username = '<user name>'
password = '<password>'
host = 'localhost'
port = 5432
database_name = ''
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [ ]:
# check tables

insp.get_table_names()

In [ ]:
# push first table to database  

vaccination_rate_df.to_sql(name='', con=engine, if_exists='append', index=False)

In [ ]:
# push second table to database  

vaccination_daily_df.to_sql(name='', con=engine, if_exists='append', index=False)

In [ ]:
# push thrid table to database  

# vaccination_country_df.to_sql(name='', con=engine, if_exists='append', index=False)

In [ ]:
# check data upload first table

pd.read_sql_query('select * from ', con=engine).head()

In [ ]:
# check data upload second table

pd.read_sql_query('select * from ', con=engine).head()

In [ ]:
# check data upload third table

pd.read_sql_query('select * from ', con=engine).head()