In [1]:
# import dependecies 

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

#Config should contain database username as username and database password as password
import config

In [2]:
#Make sure the following are present in your config file:
#config.username
#config.password
#config.database_name

In [3]:
# read vaccinations csv

csv_file = "Resources/vaccinations.csv"
vaccinations_df = pd.read_csv(csv_file)
vaccinations_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0

In [4]:
# set columns for first table

vaccination_rate_df = vaccinations_df[['location', 'iso_code', 'date', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'daily_vaccinations' ]].copy()
vaccination_rate_df.head()

,location,iso_code,date,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations
0,Afghanistan,AFG,2021-02-22,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,1367.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,1367.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,1367.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,1367.0

In [5]:
# set columns for second table

vaccination_daily_df = vaccinations_df[['location', 'iso_code', 'date', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'daily_vaccinations_per_million' ]].copy()
vaccination_daily_df.head()

,location,iso_code,date,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,34.0

In [6]:
# group by country for third table

# vaccination_country_df = vaccinations_df.groupby
# vaccination_country_df.head()

In [7]:
# group by country for third table 

# vaccination_country_df = vaccinations_df.groupby
# vaccination_country_df.head()# Setting Up Country Reference Table
countries_df = pd.DataFrame({"location": vaccinations_df["location"].unique(), "iso_code": vaccinations_df["iso_code"].unique()})
countries_df.head()

      location  iso_code
0  Afghanistan       AFG
1       Africa  OWID_AFR
2      Albania       ALB
3      Algeria       DZA
4      Andorra       AND

In [8]:
# group by country for forth table region_data_metadata

# vaccination_country_df = vaccinations_df.groupby
# vaccination_country_df.head()

## Region Date Metadata

In [9]:
# read region_date_metadata.csv

path = "Resources/region_date_metadata.csv"
region_date_df = pd.read_csv(path)
region_date_df.head()

  Province_State Country_Region        Date  Recoveries
0            NaN    Afghanistan  2020-01-22           0
1            NaN        Albania  2020-01-22           0
2            NaN        Algeria  2020-01-22           0
3            NaN        Andorra  2020-01-22           0
4            NaN         Angola  2020-01-22           0

In [10]:
#Set column for 4th table
region_date_metadata = region_date_df[['Country_Region', 'Province_State', 'Date', 'Recoveries']].copy()
region_date_metadata.head()

  Country_Region Province_State        Date  Recoveries
0    Afghanistan            NaN  2020-01-22           0
1        Albania            NaN  2020-01-22           0
2        Algeria            NaN  2020-01-22           0
3        Andorra            NaN  2020-01-22           0
4         Angola            NaN  2020-01-22           0

In [11]:
#Groupby the data  as per Country_region and Date
region_date_metadata_groupby = region_date_metadata.groupby(['Country_Region', 'Date']).sum()['Recoveries']
region_date_metadata_groupby = pd.DataFrame(region_date_metadata_groupby)
region_date_metadata_groupby

                           Recoveries
Country_Region Date
Afghanistan    2020-01-22           0
               2020-01-23           0
               2020-01-24           0
               2020-01-25           0
               2020-01-26           0
...                               ...
Zimbabwe       2020-05-06           5
               2020-05-07           5
               2020-05-08           9
               2020-05-09           9
               2020-05-10           9

[20570 rows x 1 columns]

In [12]:
#Removing index columns
region_date_metadata_df = region_date_metadata_groupby.reset_index(['Country_Region', 'Date'])
region_date_metadata_df

      Country_Region        Date  Recoveries
0        Afghanistan  2020-01-22           0
1        Afghanistan  2020-01-23           0
2        Afghanistan  2020-01-24           0
3        Afghanistan  2020-01-25           0
4        Afghanistan  2020-01-26           0
...              ...         ...         ...
20565       Zimbabwe  2020-05-06           5
20566       Zimbabwe  2020-05-07           5
20567       Zimbabwe  2020-05-08           9
20568       Zimbabwe  2020-05-09           9
20569       Zimbabwe  2020-05-10           9

[20570 rows x 3 columns]

In [13]:
# connect to SQL database 

protocol = 'postgresql'
username = config.username
password = config.password
host = 'localhost'
port = 5432
database_name = config.database_name
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [14]:
# check tables

insp.get_table_names()

['countries',
 'vaccinations',
 'vaccination_rates',
 'region_metadata',
 'region_date_metadata']

In [15]:
# Push countries lookup table to database
countries_df.to_sql(name="countries",con=engine,if_exists="fail", index=False)

In [16]:
# push first table to database  

vaccination_rate_df.to_sql(name='vaccinations', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "daily_vaccinations" of relation "vaccinations" does not exist
LINE 1: ...cinated, people_fully_vaccinated, total_boosters, daily_vacc...
                                                             ^

[SQL: INSERT INTO vaccinations (location, iso_code, date, people_vaccinated, people_fully_vaccinated, total_boosters, daily_vaccinations) VALUES (%(location)s, %(iso_code)s, %(date)s, %(people_vaccinated)s, %(people_fully_vaccinated)s, %(total_boosters)s, %(daily_vaccinations)s)]
[parameters: ({'location': 'Afghanistan', 'iso_code': 'AFG', 'date': '2021-02-22', 'people_vaccinated': 0.0, 'people_fully_vaccinated': None, 'total_boosters': None, 'daily_vaccinations': None}, {'location': 'Afghanistan', 'iso_code': 'AFG', 'date': '2021-02-23', 'people_vaccinated': None, 'people_fully_vaccinated': None, 'total_boosters': None, 'daily_vaccinations': 1367.0}, {'location': 'Afghanistan', 'iso_code': 'AFG', 'date': '2021-02-24', 'people_vaccinated': None, 'people_fully_vaccinated': None, 'total_boosters': None, 'daily_vaccinations': 1367.0}, {'location': 'Afghanistan', 'iso_code': 'AFG', 'date': '2021-02-25', 'people_vaccinated': None, 'people_fully_vaccinated': None, 'total_boosters': None, 'daily_vaccinations': 1367.0}, {'location': 'Afghanistan', 'iso_code': 'AFG', 'date': '2021-02-26', 'people_vaccinated': None, 'people_fully_vaccinated': None, 'total_boosters': None, 'daily_vaccinations': 1367.0}, {'location': 'Afghanistan', 'iso_code': 'AFG', 'date': '2021-02-27', 'people_vaccinated': None, 'people_fully_vaccinated': None, 'total_boosters': None, 'daily_vaccinations': 1367.0}, {'location': 'Afghanistan', 'iso_code': 'AFG', 'date': '2021-02-28', 'people_vaccinated': 8200.0, 'people_fully_vaccinated': None, 'total_boosters': None, 'daily_vaccinations': 1367.0}, {'location': 'Afghanistan', 'iso_code': 'AFG', 'date': '2021-03-01', 'people_vaccinated': None, 'people_fully_vaccinated': None, 'total_boosters': None, 'daily_vaccinations': 1580.0}  ... displaying 10 of 43439 total bound parameter sets ...  {'location': 'Zimbabwe', 'iso_code': 'ZWE', 'date': '2021-08-27', 'people_vaccinated': 2491680.0, 'people_fully_vaccinated': 1584315.0, 'total_boosters': None, 'daily_vaccinations': 53784.0}, {'location': 'Zimbabwe', 'iso_code': 'ZWE', 'date': '2021-08-28', 'people_vaccinated': 2513053.0, 'people_fully_vaccinated': 1597301.0, 'total_boosters': None, 'daily_vaccinations': 51016.0})]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
# push second table to database  

vaccination_daily_df.to_sql(name='', con=engine, if_exists='append', index=False)

In [ ]:
# push thrid table to database  

# vaccination_country_df.to_sql(name='', con=engine, if_exists='append', index=False)

In [ ]:
# check data upload first table

pd.read_sql_query('select * from ', con=engine).head()

In [ ]:
# check data upload second table

pd.read_sql_query('select * from ', con=engine).head()

In [ ]:
# check data upload third table

pd.read_sql_query('select * from ', con=engine).head()