In [1]:
# import dependecies 

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

#Config should contain database username as username and database password as password
import config

In [2]:
#Make sure the following are present in your config file:
#config.username
#config.password
#config.database_name

In [3]:
# read vaccinations csv

csv_file = "Resources/vaccinations.csv"
vaccinations_df = pd.read_csv(csv_file)
vaccinations_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0

In [4]:
# set columns for first table

vaccination_rate_df = vaccinations_df[['location', 'iso_code', 'date', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'daily_vaccinations_raw']].copy()
vaccination_rate_df.head()

,location,iso_code,date,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw
0,Afghanistan,AFG,2021-02-22,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN

In [5]:
# Fill NaN values with zero

vaccination_rate_df.fillna(0, inplace=True)
vaccination_rate_df.head()

,location,iso_code,date,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw
0,Afghanistan,AFG,2021-02-22,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2021-02-23,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2021-02-24,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2021-02-25,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2021-02-26,0.0,0.0,0.0,0.0

In [6]:
# Filter Zero values from people vaccinated column

vaccination_rate_df = vaccination_rate_df.loc[vaccination_rate_df["people_vaccinated"] > 0]

vaccination_rate_df.head()

,location,iso_code,date,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw
6,Afghanistan,AFG,2021-02-28,8200.0,0.0,0.0,0.0
22,Afghanistan,AFG,2021-03-16,54000.0,0.0,0.0,0.0
44,Afghanistan,AFG,2021-04-07,120000.0,0.0,0.0,0.0
59,Afghanistan,AFG,2021-04-22,240000.0,0.0,0.0,0.0
78,Afghanistan,AFG,2021-05-11,448878.0,55624.0,0.0,0.0

In [7]:
# set columns for second table

vaccination_perhundred_df = vaccinations_df[['location', 'iso_code', 'date', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'daily_vaccinations_per_million' ]].copy()
vaccination_perhundred_df.head()

,location,iso_code,date,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,34.0

In [8]:
vaccination_perhundred_df.fillna(0, inplace=True)
vaccination_perhundred_df.head()

,location,iso_code,date,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2021-02-23,0.0,0.0,0.0,34.0
2,Afghanistan,AFG,2021-02-24,0.0,0.0,0.0,34.0
3,Afghanistan,AFG,2021-02-25,0.0,0.0,0.0,34.0
4,Afghanistan,AFG,2021-02-26,0.0,0.0,0.0,34.0

In [9]:
vaccination_perhundred_df = vaccination_perhundred_df.loc[vaccination_perhundred_df["people_vaccinated_per_hundred"] > 0]

vaccination_perhundred_df.head()

,location,iso_code,date,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
6,Afghanistan,AFG,2021-02-28,0.02,0.00,0.0,34.0
22,Afghanistan,AFG,2021-03-16,0.14,0.00,0.0,72.0
44,Afghanistan,AFG,2021-04-07,0.30,0.00,0.0,75.0
59,Afghanistan,AFG,2021-04-22,0.60,0.00,0.0,201.0
78,Afghanistan,AFG,2021-05-11,1.13,0.14,0.0,349.0

In [10]:
# group by country for third table 

# vaccination_country_df = vaccinations_df.groupby
# vaccination_country_df.head()# Setting Up Country Reference Table
countries_df = pd.DataFrame({"location": vaccinations_df["location"].unique(), "iso_code": vaccinations_df["iso_code"].unique()})
countries_df.head()

      location  iso_code
0  Afghanistan       AFG
1       Africa  OWID_AFR
2      Albania       ALB
3      Algeria       DZA
4      Andorra       AND

## Region Date Metadata

In [11]:
# read region_date_metadata.csv

path = "Resources/region_date_metadata.csv"
region_date_df = pd.read_csv(path)
region_date_df.head()

  Province_State Country_Region        Date  Recoveries
0            NaN    Afghanistan  2020-01-22           0
1            NaN        Albania  2020-01-22           0
2            NaN        Algeria  2020-01-22           0
3            NaN        Andorra  2020-01-22           0
4            NaN         Angola  2020-01-22           0

In [12]:
#Set column for 4th table
region_date_metadata = region_date_df[['Country_Region', 'Province_State', 'Date', 'Recoveries']].copy()
region_date_metadata.head()

  Country_Region Province_State        Date  Recoveries
0    Afghanistan            NaN  2020-01-22           0
1        Albania            NaN  2020-01-22           0
2        Algeria            NaN  2020-01-22           0
3        Andorra            NaN  2020-01-22           0
4         Angola            NaN  2020-01-22           0

In [13]:
#Groupby the data  as per Country_region and Date
region_date_metadata_groupby = region_date_metadata.groupby(['Country_Region', 'Date']).sum()['Recoveries']
region_date_metadata_groupby = pd.DataFrame(region_date_metadata_groupby)
region_date_metadata_groupby

                           Recoveries
Country_Region Date
Afghanistan    2020-01-22           0
               2020-01-23           0
               2020-01-24           0
               2020-01-25           0
               2020-01-26           0
...                               ...
Zimbabwe       2020-05-06           5
               2020-05-07           5
               2020-05-08           9
               2020-05-09           9
               2020-05-10           9

[20570 rows x 1 columns]

In [14]:
#Removing index columns
region_date_metadata_df = region_date_metadata_groupby.reset_index(['Country_Region', 'Date'])
region_date_metadata_df

      Country_Region        Date  Recoveries
0        Afghanistan  2020-01-22           0
1        Afghanistan  2020-01-23           0
2        Afghanistan  2020-01-24           0
3        Afghanistan  2020-01-25           0
4        Afghanistan  2020-01-26           0
...              ...         ...         ...
20565       Zimbabwe  2020-05-06           5
20566       Zimbabwe  2020-05-07           5
20567       Zimbabwe  2020-05-08           9
20568       Zimbabwe  2020-05-09           9
20569       Zimbabwe  2020-05-10           9

[20570 rows x 3 columns]

## Region Metadata

In [15]:
# load csv to pandas dataframe

path2 = "Resources/region_metadata.csv"
region_metadata_df = pd.read_csv(path2)
region_metadata_df.head()

,Country_Region,Province_State,lat,lon,continent,population,area,density
0,Afghanistan,NaN,33.0000,65.0000,Asia,38041754,652230,58.33
1,Albania,NaN,41.1533,20.1683,Europe,2880917,28748,100.21
2,Algeria,NaN,28.0339,1.6596,Africa,43053054,2381741,18.08
3,Andorra,NaN,42.5063,1.5218,Europe,77142,468,164.83
4,Angola,NaN,-11.2027,17.8739,Africa,31825295,1246700,25.53

In [16]:
region_metadata = region_metadata_df.copy()

In [17]:
#groupby 

region_metadata_groupby = region_metadata.groupby(['Country_Region']).sum()['population']
region_metadata_ = pd.DataFrame(region_metadata_groupby)

In [18]:
#reset_index to fit in the SQL table
region_metadata_ = region_metadata_.reset_index('Country_Region')
region_metadata_

         Country_Region  population
0           Afghanistan    38041754
1               Albania     2880917
2               Algeria    43053054
3               Andorra       77142
4                Angola    31825295
..                  ...         ...
182  West Bank and Gaza     5190143
183      Western Sahara      567402
184               Yemen    28498683
185              Zambia    17861030
186            Zimbabwe    14645468

[187 rows x 2 columns]

In [19]:
# connect to SQL database 

protocol = 'postgresql'
username = config.username
password = config.password
host = 'localhost'
port = 5432
database_name = config.database_name
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [20]:
# check tables

insp.get_table_names()

['countries',
 'vaccinations',
 'vaccinations_per_hundred',
 'region_metadata',
 'region_date_metadata']

In [21]:
# Push countries lookup table to database
countries_df.to_sql(name="countries", con=engine, if_exists="append", index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_countries"
DETAIL:  Key (location, iso_code)=(Afghanistan, AFG) already exists.

[SQL: INSERT INTO countries (location, iso_code) VALUES (%(location)s, %(iso_code)s)]
[parameters: ({'location': 'Afghanistan', 'iso_code': 'AFG'}, {'location': 'Africa', 'iso_code': 'OWID_AFR'}, {'location': 'Albania', 'iso_code': 'ALB'}, {'location': 'Algeria', 'iso_code': 'DZA'}, {'location': 'Andorra', 'iso_code': 'AND'}, {'location': 'Angola', 'iso_code': 'AGO'}, {'location': 'Anguilla', 'iso_code': 'AIA'}, {'location': 'Antigua and Barbuda', 'iso_code': 'ATG'}  ... displaying 10 of 234 total bound parameter sets ...  {'location': 'Zambia', 'iso_code': 'ZMB'}, {'location': 'Zimbabwe', 'iso_code': 'ZWE'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [22]:
# push first table to database  

vaccination_rate_df.to_sql(name='vaccinations', con=engine, if_exists='append', index=False)

In [23]:
# push second table to database  

vaccination_perhundred_df.to_sql(name='vaccination_rate', con=engine, if_exists='append', index=False)

In [ ]:
# push thrid table to database  

# vaccination_country_df.to_sql(name='', con=engine, if_exists='append', index=False)

In [ ]:
# check data upload first table

pd.read_sql_query('select * from ', con=engine).head()

In [ ]:
# check data upload second table

pd.read_sql_query('select * from ', con=engine).head()

In [ ]:
# check data upload third table

pd.read_sql_query('select * from ', con=engine).head()